<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>

      <getItemReferences>
        <processor type="Sitecore.Publishing.Pipelines.GetItemReferences.AddItemLinkReferences, Sitecore.Kernel"
               set:type="Sitecore.Support.Publishing.Pipelines.GetItemReferences.AddItemLinkReferences, Sitecore.Support.131687"/>
      </getItemReferences>

    </pipelines>
  </sitecore>
</configuration>